@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {

margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
}
.head_main {
    background-color: #F98404;
}
.head_main img {
    position: absolute;
    width: 80 px;
    height: 60px;
    left: 15%;

}
li, a, button {
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end   ;
    align-items: center;
    padding: 30px 10%;
}
.titre {
    cursor: pointer;
    margin-right: auto;
    color: #edf0f1;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3sec ease 0s;
}

.nav_links li a:hover {
    color: #0066FF;
}
button {
    padding: 9px 25px;
    background-color: rgb(4, 4, 4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3sec ease 0s;
    margin-left: 20px;
}
button:hover {
    background-color: #0066FF;
}
.img {
    position: absolute;
    width: 10px;
    height: 10px; 

}
.cont h2 {
    position: absolute;
    top: 28%;
    right: 68%;
    font-size: 15px;
}


.cont h1 {
    position: absolute;
    top: 20%;
    right: 75%;
    color: black;
    }
    .cont h3 {
        position: absolute;
        top: 25%;
        right: 75%;
    }
    .cont ul {
        position: absolute;
        top: 35%;
        right: 60%;
    }
    .cont li {
        color: #0066FF;
    }
    .cont img {
        position: absolute;
        width: 50px;
        height: 50px;
       right: 70%;
        top: 19%;
    }
    
    .baspage h1 {
        position: absolute;
        top: 65%;
        right: 70%;
        color: black;
    
    }
    .baspage h3 {
        position: absolute;
        top: 75%;
        right: 77%;
    }
    
    .baspage img {
        position: absolute;
        width: 53px;
        height: 53px;
        right: 66%;
        top: 64%;
    }
    .pageim img {
        position: absolute;
     width: 50%;
     top: 15%;
    left: 50%;
    height: 90%;
    }
    .baspage ul {
        position: absolute;
        top: 80%;
        right: 65%;
    
    }
    .baspage li {
        color:  #0066FF;
    }
    