
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {

margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
}
.head_main {
    background-color: #F98404;
}
.head_main img {
    position: absolute;
    width: 80 px;
    height: 60px;
    left: 15%;

}
li, a, button {
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end   ;
    align-items: center;
    padding: 30px 10%;
}
.titre {
    cursor: pointer;
    margin-right: auto;
    color: #edf0f1;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3sec ease 0s;
}

.nav_links li a:hover {
    color: #0066FF;
}
button {
    padding: 9px 25px;
    background-color: rgb(4, 4, 4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3sec ease 0s;
    margin-left: 20px;
}
button:hover {
    background-color: #0066FF;
}
.container {
    background-color: #edf0f1;
}

.container h1{
    position: absolute;
    right: 60%;
    
    top: 33%;
    color: #0066FF;
    font-size: 45px;
}

.container p {
    font-size: 15px;
position: absolute;
right: 52%;
top: 58%;
font-style: oblique;

}
.container h3{
    position: absolute;
    right: 64%;
    top: 43%;
    font-size: 25px;
    font-style: italic;   
}
.img1 {
    position: absolute;
    width: 50%;
    height: 90%;
}
.img2 {
    position: absolute;
    width: 50%;
    height: 90%;
    left: 50%;
}
.container {
    background-color: blanchedalmond;
}

